* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
  }
  
  nav {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  
  .logo {
    color:#fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
  }
  
  nav a:hover {
    color: yellow;
  }
  
  .hero {
    background: white;
  }
  
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
  }
  
  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
  }
  
  .column-left h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  
  .column-left p {
    margin-bottom: 2rem;
    font-size: 1em;
    line-height: 1;
  }

  .buttonpause{
    align-items: center;
    display: inline-block;
    scale: 0.5;
  }
  .buttonreset{
    align-items: center; 
    display: inline-block;
    scale: 0.15;
  }
  .buttonstart{
    align-items: center;
    display: inline-block;
    scale: 0.14;
  }
  
  .buttonpause:hover,.buttonstart:hover,.buttonreset:hover {
    display: center;
    transform:scale(1.1, 1.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }
  
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    background-color: white;
}

.stopwatch{
    width: 90%;
    max-width: 600px;
    background-color: white;
    background-position: center;
    text-align: center;
    padding: 40 px 0;
    color: black;
    margin: 200px auto 0; 
}

.stopwatch h1 {
    margin-top: 0px;
    font-size: 64px;
    font-weight: 300;
}

/*
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons img{
    width: 100px;
    margin: 0 30px;
    cursor: pointer;
}
*/