* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  font-family: 'Digital-7', sans-serif;
  background-color: white;
}

nav {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0 1.5rem;
}

nav a:hover {
  color: yellow;
}

.stopwatch {
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
  font-size: x-large;
}

.stopwatch h1 {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.buttons {
  margin-top: 20px;
}

.buttons img {
  width: 50px; /* Adjust the size of buttons */
  margin: 0 10px; /* Adjust the spacing between buttons */
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Add a smooth transition */
}

.buttons img:hover {
  transform: scale(1.1); /* Add a slight zoom effect on hover */
}

/* Settings Button */
#settingsButton {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px; /* Adjust as needed */
}

#settingsButton:hover {
  background-color: 
}

/* Modal styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid black;
  width: 80%; 
  max-width: 400px;
  text-align: center;
}

.close-button {
  color:  black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

.modal button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.modal button:hover {
  background-color: black;
}