:root {
  --dark: #001747;
  --grey: #b1bacb;
  --grey-border: rgba(210, 210, 210, 0.75);
  --black: #000000;
  --white: #ffffff;
}

body {
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  color: var(--white);
  font: italic bold 1.5rem/1 sans-serif;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: var(--white);
  padding: 0 1.5rem;
}

nav a:hover {
  color: yellow;
}

.btn {
  color: var(--white);
  font-size: 1.1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--black);
  border: none;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.todo {
  border-radius: 2rem;
  background: var(--white);
  padding: 3rem;
  height: 50%;
  width: 60%;
  box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
  max-width: 30rem;
}

h2 {
  text-transform: uppercase;
  height: 3rem;
  color: var(--dark);
  text-align: center;
}

.input {
  position: relative;
  display: flex;
}

.input-field {
  width: 100%;
  border: 0.06rem solid #d2d2d2bf;
  border-radius: 0.5rem;
  padding: 1.25rem;
  font-size: 1rem;
}

input[type="text"]::placeholder {
  color: var(--grey);
}

.todo-container {
  display: flex;
  gap: 1rem;
}

#todoList p {
  display: flex;
  gap: 1rem;
  color: var(--dark);
  align-items: center;
}

#todoList .disabled {
  color: #8f98a8;
}

.disabled {
  text-decoration: line-through;
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "\2713";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.7rem;
  text-align: center;
  border: 0.06rem solid var(--grey-border);
  border-radius: 50%;
  color: transparent;
}

input[type="checkbox"]:checked::before {
  color: var(--white);
  border-radius: 50%;
}

.counter-container {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--grey);
}

.counter-container button {
  border: none;
  background-color: transparent;
  color: var(--grey);
  font-size: 1rem;
}

.scroll {
  height: 15rem;
  scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
  width: 0.6rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
  display: none;
}